<ion-item lines="none">
    <ion-label>{{ label }}</ion-label>
    <ion-chip (click)="setValue(value - 1)">-</ion-chip>
    <ion-chip (press)="alertInput()">{{ value }}</ion-chip>
    <ion-chip (click)="setValue(value + 1)">+</ion-chip>
</ion-item>
