<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="ability">
            <ion-icon name="fitness"></ion-icon>
            <ion-label>Ability</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="player">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Player</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="skills">
            <ion-icon name="book"></ion-icon>
            <ion-label>Skills</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
