<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="items">
            <ion-icon name="briefcase"></ion-icon>
            <ion-label>Items</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
