<app-menu-close-header title="Set Base Stats"></app-menu-close-header>

<ion-content>
    <app-base-stats-form [data]="stats.getBaseStats() | async"
                         (submitted)="setBaseStats($event)">
    </app-base-stats-form>
</ion-content>
