<ion-list *ngIf="stats">
    <ion-item *ngFor="let stat of stats | async; let i = index">
        <ion-icon [name]="selectIcon(stat.selected)"
                  (click)="selectClick.emit(i)"
                  slot="start">
        </ion-icon>
        <ion-label>{{ stat.name }}</ion-label>
        <ion-chip>{{ stat.value }}</ion-chip>
    </ion-item>
</ion-list>
