<app-menu-header title="Ability Stats"></app-menu-header>

<ion-content>
    <ion-button expand="block" fill="clear" (click)="openSetStats()">Set base stats</ion-button>
    <ng-container *ngIf="stats.getBaseStats() | async">
        <app-proficiency-bonus></app-proficiency-bonus>

        <ion-item-divider>
            <ion-label>Base Stats</ion-label>
        </ion-item-divider>
        <app-base-stats-list></app-base-stats-list>

        <ion-item-divider>
            <ion-label>Detailed Stats</ion-label>
        </ion-item-divider>
        <app-detail-stats-list></app-detail-stats-list>

        <app-passive-perception></app-passive-perception>
    </ng-container>
</ion-content>
