<ion-item [lines]="lines">
    <ion-label position="floating" *ngIf="label">{{ label }}</ion-label>
    <ion-input [formControl]="control" [type]="type"></ion-input>
    <ng-content></ng-content>
</ion-item>
