<app-menu-header title="Skills"></app-menu-header>

<ion-content>
    <app-step-number label="Slot 1" [control]="formGroup.get('slot1')"></app-step-number>
    <app-step-number label="Slot 2" [control]="formGroup.get('slot2')"></app-step-number>
    <app-step-number label="Slot 3" [control]="formGroup.get('slot3')"></app-step-number>
    <app-step-number label="Slot 4" [control]="formGroup.get('slot4')"></app-step-number>
    <app-step-number label="Prepared Skills" [control]="formGroup.get('prepared')"></app-step-number>
    <ion-list>
        <ion-list-header>Spells</ion-list-header>
        <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderSpells($event)">
            <ion-item-sliding *ngFor="let spell of spellsControl.value; let i = index">
                <ion-item-options side="start">
                    <ion-item-option (click)="removeSpell(i)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
                <ion-item>
                    <ion-icon [name]="getIconForIndex(i)" slot="start"></ion-icon>
                    <ion-label>{{ spell }}</ion-label>
                    <ion-reorder slot="end"></ion-reorder>
                </ion-item>
            </ion-item-sliding>
        </ion-reorder-group>
        <app-button-input placeholder="Enter Spell Name" (enter)="addSpell($event)">Add Spell</app-button-input>
    </ion-list>

    <ion-list>
        <ion-list-header>Cantrips</ion-list-header>
        <ion-item-sliding *ngFor="let cantrip of cantripControl.value; let i = index">
            <ion-item-options side="start">
                <ion-item-option (click)="removeCantrip(i)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item>
                <ion-label>{{ cantrip }}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>
        </ion-item-sliding>
        <app-button-input placeholder="Enter Spell Name" (enter)="addCantrip($event)">Add Spell</app-button-input>
    </ion-list>
</ion-content>
