<app-menu-header title="Player Stats"></app-menu-header>

<ion-content>
    <app-step-number label="Total HP" [control]="formGroup.get('totalHitPoints')"></app-step-number>
    <app-step-number label="HP" [control]="formGroup.get('hitPoints')"></app-step-number>
    <app-step-number label="Exp" [control]="formGroup.get('experience')"></app-step-number>
    <app-step-number label="Level" [control]="formGroup.get('level')"></app-step-number>
    <app-step-number label="Armor" [control]="formGroup.get('armor')"></app-step-number>
    <app-step-number label="Speed" [control]="formGroup.get('speed')"></app-step-number>
    <app-step-number label="Initiative" [control]="formGroup.get('initiative')"></app-step-number>
</ion-content>
