<app-menu-header title="Items"></app-menu-header>

<ion-content>
    <app-step-number label="Copper" [control]="formGroup.get('copper')"></app-step-number>
    <app-step-number label="Silver" [control]="formGroup.get('silver')"></app-step-number>
    <app-step-number label="Electrum" [control]="formGroup.get('electrum')"></app-step-number>
    <app-step-number label="Gold" [control]="formGroup.get('gold')"></app-step-number>
    <app-step-number label="Platinum" [control]="formGroup.get('platinum')"></app-step-number>

    <ion-list *ngIf="itemControl.value.length > 0">
        <ion-list-header>Items</ion-list-header>
        <ion-item-sliding *ngFor="let item of itemControl.value; let i = index">
            <ion-item-options side="start">
                <ion-item-option color="danger" (click)="removeItem(i)">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item>
                {{ item }}
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <app-button-input (enter)="addItem($event)">Add Item</app-button-input>
</ion-content>
