<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <app-menu-list [menuItems]="appPages">
                    <ion-item lines="none">
                        <ion-note slot="end">{{ build.revision }} - {{ build.buildDate | date:'shortDate' }}</ion-note>
                    </ion-item>
                </app-menu-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
