<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <app-input *ngFor="let controlKey of formControlKeys"
               type="number"
               [control]="formGroup.get(controlKey)"
               [label]="controlKey | titlecase">
    </app-input>
    <ion-button type="submit">Submit</ion-button>
</form>
