<ion-list>
    <ion-item *ngFor="let p of menuItems" routerDirection="root" [routerLink]="[p.url]" (click)="closeMenu()">
        <ion-icon slot="start" [name]="p.icon || 'arrow-dropright'"></ion-icon>
        <ion-label>
            {{ p.title }}
        </ion-label>
    </ion-item>
    <ng-content></ng-content>
</ion-list>
